body {
    background: #eee;
    color: #999;
    overflow: hidden;
}

body,
ul,
li,
img {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

img {
    border: none;
}

.div1 {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 1000px;
    overflow: hidden;
}

.oUl {
    position: absolute;
    left: 0;
    bottom: 0;
    transition: transform .4s cubic-bezier(.445, .05, .55, .95);
}

.oUl li {
    float: left;
    width: 13.8%;
    position: relative;
}

.oUl li img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    position: relative;
    top: 0;
    transform: translateY(80%);
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    transition: .1s;
}

.oUl li:nth-child(1) img {
    background-image: url(~@/assets/audiodemo/1-1.png);
}

.oUl li:nth-child(2) img {
    background-image: url(~@/assets/audiodemo/2-2.png);
}

.oUl li:nth-child(3) img {
    background-image: url(~@/assets/audiodemo/3-3.png);
}

.oUl li:nth-child(4) img {
    background-image: url(~@/assets/audiodemo/4-4.png)
}

.oUl li:nth-child(5) img {
    background-image: url(~@/assets/audiodemo/5-5.png);
}

.oUl li:nth-child(6) img {
    background-image: url(~@/assets/audiodemo/6-6.png);
}

.oUl li:nth-child(7) img {
    background-image: url(~@/assets/audiodemo/7-7.png);
}

#div2 {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
    height: 370px;
}

#div2 div {
    width: 10px;
    height: 10px;
    background: red;
    position: absolute;
    left: 0;
    top: 0;
}

.oUl li.prev {
    transform: translate3d(-13%, 0, 0);
}

.oUl li.next {
    transform: translate3d(13%, 0, 0);
}

#abc li:nth-child(n) img {
    transform: translate3d(0, 25%, 0) !important;
}

#abc ul li.lager img {
    transform: translate3d(0, 15%, 0) !important;
}
.btn {
    transition: .1s;
}
#btn {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}

input {
    border: none;
}

input:focus {
    outline: none;
}

.btnarea {
    width: 100%;
    height: 300px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 7;
    transition: 1s;
}

.line1 {
    width: 2px;
    height: 200px;
    background: #FFF;
    position: absolute;
    top: 0px;
    left: 30%;
}

.line11 {
    width: 2px;
    height: 0%;
    background: #fff;
    position: absolute;
    top: 0px;
    left: 0px;
}

.arc1 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #FFF;
    position: absolute;
    top: 160px;
    left: -39px;
    line-height: 80px;
    z-index: 9;
    cursor: pointer;
    text-align: center;
    /* transform: translateY(-50px); */
}

.line2 {
    width: 2px;
    height: 295px;
    background: #FFF;
    position: absolute;
    top: 0px;
    left: 40%;
}

.line22 {
    width: 2px;
    height: 0%;
    background: #fff;
    position: absolute;
    top: 0px;
    left: 0px;
}

.arc2 {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background: #FFF;
    position: absolute;
    top: 240px;
    left: -54px;
    line-height: 110px;
    z-index: 9;
    cursor: pointer;
    text-align: center;
    /* transform: translateY(-50px); */
}

.line3 {
    width: 2px;
    height: 130px;
    background: #FFF;
    position: absolute;
    top: 0px;
    left: 50%;
}

.line33 {
    width: 2px;
    height: 0%;
    background: #fff;
    position: absolute;
    top: 0px;
    left: 0px;
}

.arc3 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #FFF;
    position: absolute;
    top: 100px;
    left: -29px;
    line-height: 60px;
    z-index: 9;
    cursor: pointer;
    text-align: center;
    /* transform: translateY(-50px); */
}

.line4 {
    width: 2px;
    height: 240px;
    background: #FFF;
    position: absolute;
    top: 0px;
    left: 60%;
}

.line44 {
    width: 2px;
    height: 0%;
    background: #fff;
    position: absolute;
    top: 0px;
    left: 0px;
}

.arc4 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #FFF;
    position: absolute;
    top: 200px;
    left: -39px;
    line-height: 80px;
    z-index: 9;
    cursor: pointer;
    text-align: center;
    /* transform: translateY(-50px); */
}

.line5 {
    width: 2px;
    height: 140px;
    background: #FFF;
    position: absolute;
    top: 0px;
    left: 70%;
}

.line55 {
    width: 2px;
    height: 0%;
    background: #fff;
    position: absolute;
    top: 0px;
    left: 0px;
}

.arc5 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #FFF;
    position: absolute;
    top: 140px;
    left: -50px;
    line-height: 100px;
    z-index: 9;
    cursor: pointer;
    text-align: center;
}




/*.progress{ width:100%; height:80%; position:absolute; border-radius:50%; top:-50%; background:#92ffa1; box-shadow:0px 0px 10px 0px rgba(0,0,0,0.6); overflow:hidden; opacity:0.4;}
    .progress2{ width:100%; height:79%; position:absolute; border-radius:50%; top:-50%; background:#fff; box-shadow:0px 0px 10px 0px rgba(0,0,0,0.6);}
    .progress3{ width:100%; height:100%; position:absolute; top:0px; background:#f00; border:20px solid #F00; transform:rotate(103deg); transform-origin:center top;}*/